<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
      document.cookie = `timezone=${timezone}; SameSite=None; Secure; path=/`;
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
